{
  "assetDirectories" : [
    "sdmc:/OpenStarbound/assets/"
  ],

  "storageDirectory" : "sdmc:/OpenStarbound/",

  "assetsSettings" : {
    "pathIgnore" : [],
    "digestIgnore" : [
      ".*"
    ]
  },

  "defaultConfiguration" : {
    "allowAdminCommandsFromAnyone" : true,
    "anonymousConnectionsAreAdmin" : true
  }
}